body {
    overflow-x: scroll;
    background: #333;
}
.grid-view, body {
    width: 220%;
    overflow-y:auto;
}

.grid-view {
    opacity: 0.5;
    position:relative;
    top:0;
    left:300px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.31s;
    transition-duration: 0.3s;
}
    .grid-view.active {
        left: 0px;
        opacity:1
    }
    
.groupedmasterpage {
    margin-left: 30px;
}

.grid-group {
  width: 1200px;
  height: 100%;
  margin: 50px 15px 15px 0;
  float:left;
}
.item-container {
  width: 200px;
  height: 150px;
  display: inline-block;
  margin: 5px;
}
.clearfix {
  clear: both;
}
.yui3-widget-mask {
  background: rgba(0, 0, 0, 0.6);
}
